{% extends 'base.html' %}
{% load static %}
{% block title %}
    Join Us | Rotary Club
{% endblock %}
{% block main %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/2149377743.jpg'); height: 250px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">

        </div>
    </div>
</section>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container bg-light p-5">
                <h3 class="text-center mb-3">Register Form</h3>
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="firstname"></label>
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your first name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname"></label>
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your last name" required>
                    </div>
                    <div class="form-group">
                        <label for="email"></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" required>
                    </div>
                    <div class="form-group">
                        <label for="profession"></label>
                        <input type="text" class="form-control" id="profession" placeholder="Enter your profession" name="profession">
                    </div>
                    <div class="form-group">
                        <label for="age"></label>
                        <input type="text" class="form-control" id="age" placeholder="Enter your age" name="age">
                    </div>
                    <div class="form-group">
                        <label for="phone-number"></label>
                        <div class="input-group">
                            <input type="tel" class="form-control" id="phone-number" name="phone_number" placeholder="Enter your phone number" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="secondary-number"></label>
                        <div class="input-group">
                            <input type="tel" class="form-control" id="secondary-number" name="secondary_number" placeholder="Enter your secondary phone number" required>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label for="phone-type"></label>
                        <select class="form-control" id="phone-type" name="phone_type">
                            <option value="mobile">Mobile</option>
                            <option value="home">Home</option>
                            <option value="work">Work</option>
                        </select>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="padding: 15px;">Register</button>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}

